################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectADApi/.vs/ProjectADApi/v15/Server/sqlite3/db.lock
/ProjectADApi/.vs/ProjectADApi/v15/Server/sqlite3/storage.ide-shm
/ProjectADApi/.vs/ProjectADApi/v15/Server/sqlite3/storage.ide-wal
/ProjectADApi/.vs/ProjectADApi/v15/Server/sqlite3/storage.ide
